In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Frutas.xlsx')

In [4]:
df.head()

           Fruta  Calorias
0        Abacaxi        48
1          Amora        43
2        Abacate       160
3   Banana-prata        89
4  Banana-nanica        92

In [5]:
set(df['Fruta'])

{'Abacate',
 'Abacaxi',
 'Acerola',
 'Ameixa',
 'Amora',
 'Banana-maçã',
 'Banana-nanica',
 'Banana-prata',
 'Caju',
 'Caqui',
 'Carambola',
 'Cereja congelada',
 'Figo',
 'Framboesa'}

In [6]:
df.shape

(14, 2)

## Label Encoding

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_encoder = LabelEncoder()

In [9]:
df["Categoria_Frutas"] = label_encoder.fit_transform(df["Fruta"])

In [10]:
df

               Fruta  Calorias  Categoria_Frutas
0            Abacaxi        48                 1
1              Amora        43                 4
2            Abacate       160                 0
3       Banana-prata        89                 7
4      Banana-nanica        92                 6
5        Banana-maçã        89                 5
6   Cereja congelada        46                11
7              Caqui        70                 9
8          Carambola        31                10
9               Caju        43                 8
10            Ameixa        46                 3
11           Acerola        32                 2
12              Figo        74                12
13         Framboesa        52                13

## One Hot Encoding / Dummies

In [11]:
df2 = pd.read_excel('Frutas.xlsx')

In [12]:
dummies_df = pd.get_dummies(df2, columns = ["Fruta"])

In [13]:
dummies_df

,Calorias,Fruta_Abacate,Fruta_Abacaxi,Fruta_Acerola,Fruta_Ameixa,Fruta_Amora,Fruta_Banana-maçã,Fruta_Banana-nanica,Fruta_Banana-prata,Fruta_Caju,Fruta_Caqui,Fruta_Carambola,Fruta_Cereja congelada,Fruta_Figo,Fruta_Framboesa
0,48,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,43,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,160,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,89,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,92,0,0,0,0,0,0,1,0,0,0,0,0,0,0
5,89,0,0,0,0,0,1,0,0,0,0,0,0,0,0
6,46,0,0,0,0,0,0,0,0,0,0,0,1,0,0
7,70,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,31,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9,43,0,0,0,0,0,0,0,0,1,0,0,0,0,0
10,46,0,0,0,1,0,0,0,0,0,0,0,0,0,0
11,32,0,0,1,0,0,0,0,0,0,0,0,0,0,0
12,74,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,52,0,0,0,0,0,0,0,0,0,0,0,0,0,1